.footer-wrapper {
  padding: 50px 0 70px 0;
  background-color: var(--bg-light-grey-color);
}

.footer {
  max-width: 1300px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  flex-wrap: wrap;
  padding: 0 30px;
  gap: 10px;
}

.footer-section {
  padding-top: 20px;
  min-width: 140px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.footer-logo {
  width: 230px;
}

.footer-description {
  color: var(--txt-grey-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.footer-title {
  color: var(--txt-dark-grey-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.section-subtitle {
  color: var(--txt-grey-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  transition: 0.3s;
}

.section-subtitle:hover {
  color: var(--primary-color);
}

.input-wrapper {
  display: flex;
  position: relative;
  width: 299px;
  height: 48px;
}

.footer-input {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #eff2f7;
  border: none;
  background: var(--bg-white-color);
  color: var(--txt-grey-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0 60px 0 10px;
}

.icon-wrapper {
  cursor: pointer;
  top: 3px;
  right: 3px;
  position: absolute;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: var(--primary-color);
}

.icon-wrapper:active {
  transform: scale(0.98);
}

.send-icon {
  transform: scale(1.7);
  color: var(--bg-white-color);
}

@media (max-width: 790px) {
  .footer {
    padding: 0 20px;
  }
}

@media (max-width: 500px) {
  .footer {
    padding: 0 10px;
  }
}

@media (max-width: 320px) {
  .input-wrapper {
    width: 100%;
  }
}
