.team-wrapper {
  width: 100%;
  padding: 30px;
}

.team-title {
  color: var(--txt-dark-grey-color);
  font-size: 54px;
  text-align: center;
}

.mySwiper {
  width: 100%;
}

.box {
  width: 100%;
  padding: 50px 0px;
}

@media (max-width: 790px) {
  .team-wrapper {
    padding: 0 20px;
  }
}

@media (max-width: 765px) {
  .team-title {
    font-size: 38px;
  }
}

@media (max-width: 500px) {
  .team-wrapper {
    padding: 0 10px;
  }
}
