/* Container styling */
.scientific-council {
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px;
}

/* Heading styling */
.scientific-council h1 {
  text-align: center;
  font-size: 28px;
  color: #2f3e46;
  margin-bottom: 20px;
  position: relative;
  animation: fadeIn 2s ease-in-out;
  margin-bottom: 20px;
}

/* Wow effect for h1 */
.scientific-council h1::after {
  content: "";
  width: 50px;
  height: 5px;
  background-color: #3a73af;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  border-radius: 5px;
  animation: slideIn 1.5s ease-out;
}

/* Table styling */
.table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  text-align: left;
  animation: fadeInUp 1.5s ease-in-out;
}

/* Header styles */
.table th {
  background-color: #3a73af;
  color: white;
  padding: 15px;
  font-size: 18px;
  position: sticky;
  top: 0;
  z-index: 10;
  transition: background-color 0.3s ease;
}

.table th:hover {
  background-color: #2a559d;
}

/* Row and column styling */
.table td,
.table th {
  border: 1px solid #ddd;
  padding: 15px;
}

.table td {
  background-color: #f9f9f9;
  position: relative;
  transition: background-color 0.4s ease, transform 0.3s ease;
}

.table td:hover {
  background-color: #d3e2f5;
  transform: scale(1.05);
}

/* Email link styling */
.email-link {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.email-link:hover {
  color: #0056b3;
  text-decoration: underline;
}

/* Row hover effect */
.table tr:hover td {
  background-color: #e3f2fd;
  cursor: pointer;
  transition: all 0.4s ease;
}

/* Responsive container */
@media (max-width: 992px) {
  .scientific-council {
    padding: 15px;
  }

  .scientific-council h1 {
    font-size: 24px;
  }

  .table {
    font-size: 14px;
  }

  .table th,
  .table td {
    padding: 10px;
  }
}

@media (max-width: 300px) {
  .scientific-council h1 {
    font-size: 22px;
  }

  .table th, .table td {
    padding: 0px;
  }

  .table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 20px;
  }

  .table {
    min-width: 300px;
    width: 100%;
    display: block;
  }
}

@media (max-width: 768px) {
  .table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 20px;
  }
  .table {
    min-width: 600px;
    width: 100%;
    display: block;
  }
  .table th,
  .table td {
    white-space: nowrap;
  }
}

/* Animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideIn {
  0% {
    width: 0;
  }
  100% {
    width: 50px;
  }
}

.grayscale-mode {
  filter: grayscale(1) !important;
}
