.category {
  box-sizing: border-box;
  width: 24%;
  padding: 30px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #b6c7db;
  margin: 5px;
  text-align: center;
  transition: 300ms;
  color: var(--primary-color);
  border-radius: 10px;
  box-shadow: #dfe0e1 0px 2px 8px 0px;
}

.category:hover {
  background-color: var(--primary-color);
  color: var(--bg-white-color);
  border-radius: 7px;
}

.schoolTitle {
  width: 100%;
  text-align: center;
  margin: 50px 0;
  font-size: 54px;
}

.category h4 {
  font-size: 22px;
  text-align: center;
}

.another {
  display: flex;
  flex-flow: wrap;
}

@media (max-width: 1200px) and (min-width: 992px) {
  .category {
    width: 48%;
  }
}

@media (max-width: 992px) and (min-width: 765px) {
  .category {
    width: 47%;
  }
}

@media (max-width: 765px) and (min-width: 576px) {
  .category {
    width: 100%;
  }

  .schoolTitle {
    font-size: 40px;
  }
}

@media only screen and (max-width: 576px) and (min-width: 280px) {
  .category {
    width: 100%;
  }

  .schoolTitle {
    font-size: 32px;
  }
}

.schoolTitle {
  margin-top: 50px;
  font-size: 32px;
  font-weight: 600;
}
